<?xml version="1.0"?>
<launch>

    <arg name="robot_namespace" default="/"/>
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="paused" value="false"/>
        <arg name="use_sim_time" value="true"/>
        <arg name="gui" value="true"/>
        <arg name="headless" value="false"/>
        <arg name="debug" value="false"/>
    </include>
    
    <param name="robot_description" command="$(find xacro)/xacro '$(find track3_v1)/urdf/track3_v1.urdf'
        robot_namespace:=$(arg robot_namespace)" />

    <!-- initial pose -->
    <arg name="x" default="0.0"/>
    <arg name="y" default="0.0"/>
    <arg name="z" default="0.0"/>
    <arg name="yaw" default="0.0"/>

    <node name="track3v_1" pkg="gazebo_ros" type="spawn_model" args="-x $(arg x)
              -y $(arg y)
              -z $(arg z)
              -Y $(arg yaw)
              -urdf
              -param robot_description
              -model 'limo$(arg robot_namespace)'" />
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

</launch>
